<div *ngIf="entities$ | async as entities">
  <ng-container 
    *ngIf="entities.length > 0; then entitylist; else noentities"
  ></ng-container>
  <ng-template #noentities>
    <p>Færðu þig á svæði þar sem lánþegar byrtast.</p>
  </ng-template>

  <ng-template #entitylist>
    <label id="entities-radio-group-label">Veldu lánþega:</label>
    <mat-radio-group
      aria-labelledby="entities-radio-group-label"
      class="entities-radio-group"
      [(ngModel)]="selectedEntity"
      (change)="entitySelected($event)">
      <mat-radio-button *ngFor="let entity of entities" [value]="entity">
        {{entity.description}}
      </mat-radio-button>
    </mat-radio-group>
  </ng-template>
</div>