<div class="midi {{settings?.label}}">    
            <!-- A -->
    <div class="area a">
    </div>
    <!-- B -->
    <div class="area b">

    </div>
    <!-- C -->
    <div class="area c">
        <div>
           <div [ngStyle]="{'font-weight': (settings?.identifier == 'primaryId') ? '700': '400'}">{{settings?.identifier == 'primaryId' ? patron?.polishName : patron?.name}}</div>
           <ngx-barcode 
                [bc-value]="settings?.identifier !== 'strikamerki' ? patron?.kennitala : patron?.strikamerki" 
                [bc-display-value]="(settings?.identifier !== 'kennitala') ? true : false"
                [bc-width]="1.6"
                [bc-height]="(settings?.identifier == 'primaryId') ? '40':'50'"
                [bc-font-size]="(settings?.identifier == 'primaryId' ) ? '18':'12'"
                [bc-font-options]="(settings?.identifier == 'primaryId') ? 'bold' : ''"
                >
           </ngx-barcode>
        </div>
    </div>
    <div class="area x">
        <div></div>
    </div>
    <div *ngIf="settings?.label == 'r87x80'" class="area y">
        <div></div>
    </div>
</div>
